<footer id="colophon" role="contentinfo">
  <div>
    <ul id="nav">
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Из истории", pages_inform_path %></li>
      <li><%= link_to "Краткие сведения", pages_use_path %></li> 
      <li><%= link_to "Информация о продукции", pages_about_path %></li>
      <li><%= link_to "Важно знать!", pages_important_path %></li>
      <li><%= link_to "Обратная связь", pages_contact_path %></li>
    </ul>
  </div>
  <div id="site-generator">
      Copyright © 2018 Svetla9101
  </div>
</footer>

