<header id="branding" role="banner">
  <nav id="access" class="access" role="navigation">
    <div id="menu" class="menu">
      <ul id="tiny">
        <li><%= link_to "Главная", root_path %></li>
        <li><%= link_to "Из истории", pages_inform_path %></li>
        <li><%= link_to "Краткие сведения", pages_use_path %></li> 
        <li><%= link_to "Информация о продукции", pages_about_path %></li>
        <li><%= link_to "Важно знать!", pages_important_path %></li>
        <li><%= link_to "Обратная связь", pages_contact_path %></li>
      </ul>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>  
  </nav>
</header>




